@model LancheListViewModel
<div class="container mt-3 justify-content-center">
    <h2 class="poppins-semibold text-center">
        @Model.CategoriaAtual
    </h2>
    <div class="container">
        <div class="row">
            @foreach(var lanche in Model.Lanches)
            {
            <partial name="_LanchesResumo" for="@lanche"/>
            }
        </div>
    </div>
</div>