@model CarrinhoCompraViewModel

@if(Model.CarrinhoCompra.CarrinhoCompraItems.Count > 0)
{
    <a asp-controller="CarrinhoCompra" asp-action="Index">
        <i class="fa-solid fa-cart-shopping"></i>
        <span style="color:white">
            @Model.CarrinhoCompra.CarrinhoCompraItems.Count
        </span>
    </a>
}
