<div class="container mt-5">
    @* <img src="~/images/faleconosco1.jpg" alt="Fale conosco" />
    <div class="jumbotron">
        <h3>Queremos ouvir o que você tem a dizer</h3>
        <p>
            Se você tiver alguma dúvida ou sugestão fale conosco
        </p>
        <p>
            <span>
                <img src="~/images/Envelope-icon24.png" />
            </span>
            <h5><email endereco="pedro.ppssmm@gmail.com" conteudo="Enviar um e-mail"></email></h5>
            <br />
            <span>
                <img src="~/images/phone-app-icon.png" />
            </span>
            <h5>(11) 9874-5566</h5>
            <br />
            <span>
                <img src="~/images/Home-iconred.png" />
            </span>
            <h5>Av. Juscelino Kubichek 1000 - 03540-550 - São Paulo</h5>
        </p>
    </div> *@
    <h1 class="poppins-light">
        Fale Conosco
    </h1>

    <button onclick="window.location.href = 'https://wa.me/5561999766526'" style="font-size:25px;" class="btn btn-success text-light poppins-regular my-4">
        Nosso Whatsapp <i class="fa-brands fa-whatsapp"></i>
    </button>


    <div class="row mb-4">
        <div class="col">
            <h2 class="poppins-regular">ENDEREÇO</h2>

            <div class="d-flex align-items-center mt-3">
                <h1>
                    <i class="fa-solid fa-location-dot"></i>
                </h1>
                <div class="ms-3">
                    <p class="poppins-light">São Paulo</p>
                    <p class="poppins-light">Av. Pres. Juscelino Kubitschek - Itaim Bibi - 03540-550</p>
                </div>
            </div>

        </div>
        <div class="col">
            <h2 class="poppins-regular">REDES SOCIAIS</h2>
            <div class="d-flex align-items-center mt-3">
                <h1 style="cursor:pointer;" class="mx-3"><i class="fa-brands fa-instagram"></i></h1>
                <h1 style="cursor:pointer;" class="mx-3"><i class="fa-brands fa-square-facebook"></i></h1>
                <h1 style="cursor:pointer;" class="mx-3"><i class="fa-solid fa-envelope"></i></h1>
            </div>
        </div>
    </div>
    <div style="width: 100%"><iframe width="100%" height="350px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Av.%20Pres.%20Juscelino%20Kubitschek%20-%20Itaim%20Bibi%20-%2003540-550+(Lanches%20Mac)&amp;t=&amp;z=16&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.gps.ie/">gps tracker sport</a></iframe></div>
</div>

