@model FileManagerModel

@{
    ViewBag.Title = "Arquivos";

    ViewData["Title"] = "Exibir Imagens";
}

@if (Model.files != null)
{
    <h3 class="poppins-regular">Imagens:</h3>

    <hr />

    var caminho = Model.PathImagesProduto;
    <div class="container">
        <div class="row">
            @for (int i = 0; i < Model.files.Length; i++)
            {
                <div class="col-md-2">
                    <img title="@Model.files[i].Name" asp-append-version="true" src="~/@caminho/@Model.files[i].Name" width="125" height="125" />
                    <div class="p-2 text-start">
                        <a class="btn btn-outline-danger" href="@Url.Action("DeleteFile", "AdminImagens", new { fname = @Model.files[i].Name })">Deletar</a>
                    </div>
                </div>

                @if ((i + 1) % 5 == 0)
                {
                    <div class="w-100"></div>
                }
            }
        </div>
    </div>

}